.image{
    background-image: url(../B9A1-New-Year-New-Mission/resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px;
}
.bannar{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;

}
div{
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.container{
    text-align: center;
    font-style: normal;
    line-height: normal;
}
.text{
    color:#F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.text-container{
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
#img{
    width: 800.9px;
    height: 500px;
}
.contain{
    color:#070211;
    font-size: 48px;
    font-weight: 700;
    font-family: Inter;
}
.bannar-img{
    width: 1320px;
    height: 600px;
    background-image:url("../B9A1-New-Year-New-Mission/resources/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}
span{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
};
.bannar-img2{
width: 319.83px;
height: 464.662px;
padding: 0.008px 0px 0px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.bannar-title{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;

}
.main-title{
    padding-left: 126px;
    text-align:center;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.contant{
    text-align: center;
    background-color: bisque;
}
.button{
   background-color:#FF0000;
   color: #FFF;
   border-radius: 8px;
   padding: 16px 32px;
}